<main container>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Add Topic</div>
        <div class="card-body">
          <form [formGroup]="topicData" (ngSubmit)="submit(topicData)">
            <div class="form-group">
              <label>subject Name</label>
              <span class="form-group">
                <select class="form-control" id="question_type" formControlName="subjectId">
                  <option *ngFor="let subject of subjectArray" [ngValue]="subject._id">{{subject.name}}</option>
                </select>
              </span>
            </div>
            <div class="form-group">
              <label>topic Name</label>
              <input type="text" class="form-control" formControlName="topicName" placeholder="Enter topic Name">
            </div>
            <button type="submit" [disabled]="!topicData.valid" class="btn btn-primary" id="frmSubmit">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <table datatable class="table table-striped border">
        <thead>
          <tr>
            <th scope="col">Index</th>
            <th scope="col">Topic</th>
            <th scope="col">Subject</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let topic of topicsArray;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{topic.name}}</td>
            <td>{{topic.subjectId.name}}</td>
            <td>
              <button class="btn btn-outline-danger" (click)="delete(topic)">Delete</button>
            </td>
          </tr>
      </table>
    </div>
  </div>
</main>