<main container>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Add Subject</div>
        <div class="card-body">
          <form [formGroup]="subjectData" (ngSubmit)="submit(subjectData)">
            <div class="form-group">
              <label>Subject Name</label>
              <input type="text" class="form-control" formControlName="subjectName" placeholder="Enter Subject Name">
            </div>
            <button type="submit" [disabled]="!subjectData.valid" class="btn btn-primary" id="frmSubmit">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <table datatable class="table table-striped border">
        <thead>
          <tr>
            <th scope="col">Index</th>
            <th scope="col">Subject</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subject of subjectsArray;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{subject.name}}</td>
            <td>
              <button class="btn btn-outline-danger" (click)="delete(subject)">Delete</button>
            </td>
          </tr>
      </table>
    </div>
  </div>
</main>